.thumbnail{
    width:100%;
    border-radius:10px;
    
}
.imagediv{
    position:relative;
}
.channeldiv{

}
body{
    padding-top:50px;
    padding-left:60px;
    background-color: rgb(15,15,16);
    margin-bottom: 1000px;
    
    
  }
.channelinfodiv{
    margin-left:12px;
    font-family: Roboto,Arial;
    color:white;
    vertical-align: top;
    
    margin-left: 30px;
    padding-left: 0px;

}
.channelpic{
    vertical-align: top;
    border-radius: 75px;
    margin-left:0px;
    
}
.videotitle{
    font-family: Roboto;
    font-size:15px;
    font-weight:500;
    margin-top:5px;
    margin-bottom:0px;
    
    
    
    
}
.videoauthor{
    margin: top 0px;
    color:white;
}
.secondDiv{
    display: flex;
    overflow: hidden;
}
.bottomdiv{
    width:100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    
    
}
.firdiv{
    display:inline-block;
    overflow: ellipsis;
    
}
.youtubegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;
    row-gap:10px;

}
.videotime{
    color:white;
    background-color: black;
    position:absolute;
    right:6.9px;
    bottom:10px; 
    border-radius: 2px;
    padding:3.9px;
    text-align: center;    
}

