.thumbnail{
    width:100%;
    border-radius:10px;
    
}
.imagediv{
    width:300px;
    
}
.channeldiv{

}
body{
    padding-top:50px;
    background-color: rgb(15,15,16);
  }
.channelinfodiv{
    margin-left:12px;
    font-family: Roboto,Arial;
    color:white;
    vertical-align: top;
    width:100%;
    margin-left: 30px;
    padding-left: 0px;

}
.channelpic{
    vertical-align: top;
    border-radius: 75px;
    margin-left:0px;
    
}
.videotitle{
    font-family: Roboto;
    font-size:15px;
    font-weight:500;
    margin-top:5px;
    margin-bottom:0px;
    
    
    
    
}
.videoauthor{
    margin: top 0px;
    color:white;
}
.secondDiv{
    display: flex;
}
.bottomdiv{
    width:100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    
    
}
.firdiv{
    display:inline-block;
    
}
.youtubegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;
    row-gap:10px;

}

