.Div1{
  height:20px;
  width:250px;
  
  display:flex;
  align-items: center;
  
}
.searchbutton{
    
  font-family: Roboto;
  font-weight: 500;
  flex:1;
  border: 1px solid gray;
  height:35px;
  flex:1;
  background-color: rgb(245, 245, 245);
  max-width:500px;
}
.Div2{
  display:flex;
  flex:1;
  
}

.Div3{
  background-color:peru;
  width:300px;
  margin-right: 0;
}
.Container1{
  margin-top: 10px;
  display:flex;
  flex-direction:row;
  height:50px;
  
  justify-content: space-between;
  align-items: center;
  height:55px;
  margin-bottom: 10px;
  
}

.hamburger-menu{
  height:25px;
  margin-left:20px;
  margin-right:23px;
}

.youtube-logo{
  height:25px;
}

.voicesearch-button{
  height:20px;
}

.voice-search{
  height:20px;
}
.searchicon{
  height:20px;
}
.searchbutton-button{
  height:20px;
  margin-left: -4px;
}



.header{
  display:flex;
  justify-content: space-between;
  background-color:rgb(24,25,26);
  height:33.8px;
  padding-top: 4px;
  padding-bottom: 8px;
  align-items: center;
  box-shadow: outset(0,0,42px);
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  border-bottom-width: 1.5px;
  border-bottom-color: black;
  border-bottom-style: solid;
  z-index:100;
  


}

.leftsection{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: 10px;
  
}
.sidebar{
  position:fixed;
  color:white;
  background-color:rgb(24, 25, 26);
  top:48px;
  bottom:0px;
  left:3px;
  width:60px;
  border-radius: 2px;
  z-index:200;
}
  


.sidebar-content{
  display:flex;
  justify-content: space-between;
  justify-content: center;
  margin-bottom: 50px;
  height:70px;
  flex-direction: column;
  align-items: center;
}
.twitch-logo{
  height:35px;
  margin: 5px;
  width:100%;
  margin:none;

}
.twitch-logo:hover{
  cursor: pointer;
}
.browse:hover{
  color:rgb(169, 112, 255);

 
}
.browse{
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  Color:rgb(230,231,232);
  font-weight:700;
  margin-left: 6px;
  font-size: 18px;
  transition: 0.2s;
  margin-top: 28px;

}




.middlesection{
  width:500px;
  display:flex;
  justify-content: center;
  margin-top: 4px;
}

.search-bar{
  height:28px;
  border-radius: 10.69px;
  border:none;
  border-width: 1.8px;
  border-color: rgb(169, 112, 255);
  border-style:solid;
  background-color: rgb(14 14 16);
  flex:1;
  width:0;
  color:white;
  padding-left:10px;
  

  
}
.search-button{
  height:36px;
  margin-left: 10px;
  border-radius: 18px;
  border:none;
  border-width: 1.8px;
  border-color: rgb(169, 112, 255);
  border-style:solid;
  background-color: rgb(14 14 16);
  padding-left:10px;
  padding-right:10px;
  color:White;
  
}

.rightsection{
  
  display: flex;
  align-items: center;
}
.Login-button{
  margin:none;
  height:36px;
  background-color:rgba(83, 83, 95);
  width:58px;
  color:White;
  border-radius: 5px;
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 13px;
  border:1px;
  font-weight: 700;
  letter-spacing: 1.41px;
  transition: 0.2s;
}
.Login-button:hover{
  background-color:rgb(145,71,255);
}
.signup-button{
  margin-right: 10px;
  height:35px;
  background-color:rgb(145,71,255);
  color:white;
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px;
  border-width: 1.8px;
  border-color: rgb(145,71,255);
  border-style:solid;
  width:60px;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1.41px;
  padding-left: 4px;
  transition: 0.2s;
}

.signup-button:hover{
  cursor: pointer;
  background-color: rgb(107, 24, 230);
  
}

.profilepic-button{
  margin:none;
  height:34px;
  background-color:rgb(14 14 16) ;
  color:White;
  border:1px;
  margin-right:10px;
  margin-top:6px;
}