body{
  padding-bottom: 1000px;
  
}
* {margin:0;}

.header{
 background-color: rgb(14,23,43);
 top:0;
 left:0;
 right:0;
 height: 13vh;
 color:rgb(226, 220, 220);
 font-family: Rubik;
}
.header-elements{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:15vh;
}

.middle-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 26px;
  margin-left: 70px;
  align-items: center;
}

.left-section{
  margin-right: 80px;
  margin-left: 50px;
  align-items: center;
  width:80px;
  
}

.right-section{
  margin-left:80px;
  
}
.rd-logo{
  height:40px;
  width:40px;
  
}
.search-button{
  height:28px;
  width:70px;
  background-color:#0e172b;
  color:rgb(226, 220, 220);
  border-style:solid;
  border-width:thin;
  border-color: white;
  border-radius: 10px;
  align-items: center;
  transition:0.18s;
  
}
.search-button:hover{
  box-shadow:-2.2px 3px rgb(211, 25, 87);
  transform:translate(3px,-2.2px);
  
}
.login-button{
  
}
.page-heading{
  height:250px;
  background-color:rgb(14,23,43);
  font-family: Rubik;
  text-align: center;
  Display:flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px;
  border-color: rgb(211, 25, 87);
  border-bottom-style:solid ;
  position: relative;   
}

.Container{
  background-color: rgb(12,20,37);
  height:412px;
  font-family: Rubik;
  Color:rgb(226, 220, 220);
  display:flex;
  padding:0;
  margin:0;
  align-items: center;
  justify-content: center;
  border-bottom: 2px;
  border-color: rgb(211, 25, 87);
  border-bottom-style:solid ;
}
.Boxes{
  background-color: rgb(12,20,37);
  width:230px;
  height:45px;
  align-items: center;
  align-content: center;
  margin:auto;
  border-radius: 10px;
  Color:rgb(149,162,184);
  text-align: start;
  padding-left: 18px;
  border:0.5px;
  border-style:solid;
  border-width:thin;
  transition:0.18s;
  font-weight: 700;
  

}
.Boxes:hover{
  border:1px;
  border-style:solid;
  
  box-shadow:-2.2px 3px rgb(211, 25, 87);
  transform:translate(3px,-2.2px);
  
    
}
.Grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  

  
  
  
}